h1 {
  text-align: center;
  margin-bottom: 5rem;
}

main {
  padding: 0 5rem;
}

.submit-button {
  background: none !important;
  color: #3387c4;
  border: 1px solid;
  padding: 8px !important;
  font: inherit;
  cursor: pointer;
  border-radius: 8px;
  min-width: 8rem;
  margin-top: 5rem;
}

.submit-button:hover {
  text-decoration: underline;
}
